@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html,div,button,textarea{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
 background-color: #f3f5fc; 
  color:#0A3871;
}

#logo{
  display:block;
  margin-top: 18px;
  margin-left: 39px;
}
.container{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  gap: 24px;
  
}


a:link, a:visited,  a:hover, a:active
{
    
    text-decoration: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


/*first section*/
.top-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
  gap: 1.5rem;
  
  margin-top:21px;
  
}

#txt{
 color: #ffffff;
 width:90%;
 height: 60vh; 
 border: none;
 background: transparent;
 font-style: normal;
 font-weight: 10rem;
 font-size: 2rem;
 line-height: 150%;
 resize: none;
 overflow: hidden; 
}
#txt:focus{
  outline:none;
  color: #0A3871;
}
#txt::placeholder{
 color: #0A3871;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' -25,
  'opsz' 20
}

.legenda{
color: #FFFFFF;
width: 12.8rem;
height: 1.12rem;;
font-style: normal;
font-weight: 25rem;
font-size: 0.75rem;
line-height: 150%;
}

/*button section*/
.button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  gap: 1.5rem;
  margin: auto;
}

.boton{
  padding: 1.5rem;
  gap: 0.5rem;
  width: 21rem;
  height: 4rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

#boton {
  cursor: pointer;
  transition: 0.2s;
  padding: 0; 
  border: none;
}

#boton:hover {opacity: 0.4;
}


#encriptar{
  color: white;
  background: #0a3871;
  cursor: pointer;
  transition: 0.2s;
}

#encriptar:hover {opacity: 0.4;
}

#desencriptar{
  color: #0A3871;
  background: #f3f5fc;
  cursor: pointer;
  transition: 0.2s;
}

#desencriptar:hover {opacity: 0.4;
}

#copiar{
 width: 90%;
 margin: auto; 
 display: none; 
 color: #0A3871;
 cursor: pointer;
 transition: 0.2s;
}

#copiar:hover {opacity: 0.4;
}

/*last part*/
.botton-container{
 display: flex;
flex-direction: column;
justify-content: center;
margin: auto;
padding: 1rem;
gap: 1rem;
background: #FFFFFF;
color: #0A3871;
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 2rem;
}

#nomensaje{ 
  display: none;

}

.mensaje1{
width: 16.4rem;
height: 3.6rem;
font-family: 'Roboto', Arial, Helvetica, sans-serif;
font-style: normal;
font-size: 1.5rem;
line-height: 120%;
text-align: center;
margin:auto;  
color: #343A40;

}

#txt2{
width: 16.4rem;
height: 3rem;
font-style: normal;
font-size: 1rem;
line-height: 150%;
text-align: center;
color: #0A3871;
margin:auto;   
}

footer {
  margin:5px;
  text-align: right;
  font-size: 0.5;
  
  background-color:red;
  height: 20px;
  width: 100%;
}

 

/*Media Queries to make page responsive*/

@media only screen and (min-width: 768px) {
  .top-container {
    margin: auto 3%;
      }
  textarea{
    width:auto;
      }
  
 .button-container{
    flex-direction: row;
  }

  .botton-container{
    margin: auto 5%;
  }

 


}

@media only screen and (min-width: 992px) {
  .container{
    flex-direction: row;
    align-items: flex-start;
    
  }
  .top-container {
    margin: auto 5%;
      }
  textarea{
    width:auto;
      }
  #nomensaje{
    display: block;
  }
  .button-container{
    align-items: flex-end;
  }
  .botton-container{
    margin: 0;
    height: 80vh;
  }

 


}